/* font import */
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Khand:wght@300&family=Open+Sans:wght@300&family=Press+Start+2P&family=Raleway:wght@100&family=Righteous&display=swap");

/* Piezo handwriting font */
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  font-family: "Open Sans Condensed", sans-serif;
}

body {
  color: #eee;
}

h1,
h4 {
  transform: scale(0.9, 1.3);
  /* font-family: 'Dorsa', sans-serif; */
  font-weight: normal;
  width: 90%;
  margin: auto;
  margin-top: 1%;
}

figure {
  border: 1px #cccccc solid;
  padding: 4px;
  margin: auto;
  background-color: #ece4db;
}

figcaption {
  /* background-color: black; */
  /* color: white; */
  font-style: italic;
  line-height: 1;
  padding: 2px;
  text-align: center;
}

hr {
  background-color: #666666;
  border: #666666 !important;
}

.passages {
  height: fit-content;
}

.passage {
  line-height: 1.25;
  padding-top: 0.5em;
  color: #666666;
  height: fit-content;
}

.bg-box {
  position: fixed;
  z-index: -1;
  width: 101%;
  margin-left: -1%;
  border-radius: 800px;
}

/* .link-internal {

} */

.hint {
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  background: #ece4db;
  color: #6d6875;
  border-radius: 10px;
  padding: 2vh;
  width: 65%;
}

.hint:before {
  padding: 1em;
}

.left-chat:before {
  padding: 0.5em;
}
.left-chat {
  border-radius: 25px 25px 25px 3px;
  background: #d8e2dc;
  width: 40%;
  padding: 1vh;
  text-align: right;
  color: #6e6e5e;
}

.right-chat:before {
  padding: 0.5em;
}
.right-chat {
  border-radius: 25px 25px 3px 25px;
  background: #fec5bb;
  width: 40%;
  padding: 1vh;
  color: #6e6e5e;
  margin-left: auto;
  margin-right: 0;
}

.mid-chat:before {
  padding: 0.5em;
}
.mid-chat {
  border-radius: 25px;
  background: #fec89a;
  width: 40%;
  margin: auto;
  padding: 1vh;
  text-align: center;
  color: #6e6e5e;
}

.footnote-hr {
  background-color: #666666;
  border: #666666 !important;
}

.footnote {
  color: #d5bdaf;
  margin: auto;
  max-width: 54em;
  padding: 2em;
  /* justify-content: space-between; */
}

.note {
  max-width: 20em;
  text-align: center;
  margin: auto;
  font-family: "Rock Salt";
}



.column {
  float: left;
  max-width: 30.33%;
  padding: 1vh;
  /* may have to remove for footnote edits */
  /* margin: auto;  */
}

.column-2 {
  float: left;
  max-width: 60.33%;
  min-width: 30.33%;
  padding: 1vh;
  /* may have to remove for footnote edits */
  /* margin: auto;  */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.banner {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 12vh;
  object-fit: cover;
  object-position: 10% -190px;
  border-radius: 20px;
  /* object-fit: contain; */
}

.pixel-art {
  background-color: #666666;
  border-radius: 100px;
  z-index: 1000;
  max-height: 15vh;
  display: block;
  margin: auto;
  width: fit-content;
}

.polaroid-img {
  box-sizing: border-box;
  width: 100%;
  height: 337px;
  object-fit: cover;
  object-position: 100% 600;
  /* object-fit: contain; */
}

.polaroid {
  width: fit-content;
  max-width: 30%;
  border: 1px #cccccc solid;
  padding: 3px;
  margin: 1vh;
  background-color: #ece4db;
}
@media only screen and (max-width: 900px) {
  .column {max-width: fit-content;}
  .column-2 {max-width: fit-content;}
  .polaroid {max-width: fit-content;}
}
#story {
  color: #141414;
  background: white;
  margin-top: 10vh;
  padding: 3vh;
  /* width: 80%; */
  border-radius: 50px 10px 50px 0;
}

#background {
  position: fixed;
  left: -5vw;
  top: -5vh;
  z-index: -10;
  height: 110vh;
  width: 110vw;
}

#location-text {
  font-family: "Khand", sans-serif;
  width: 40%;
  font-size: 32px;
  margin-left: 4vw;
}

#story-title {
  font-family: "Khand", sans-serif;
}

#story-subtitle {
  font-family: "Khand", sans-serif;
}

#menu li a {
  display: block;
  padding: 0.25em 0.75em;
  border: 1px solid transparent;
  color: #eee;
  text-transform: none;
}

#ui-bar {
  background-color: #222222e0;
  border-right: 1px solid #444;
  text-align: center;
}

#story-author {
  margin-top: 1em;
  font-weight: 100;
}

#health[value] {
  color: red;
  background-color: red;
}

#equipment {
  text-align: right;
  color: #cccccc;
}

#inventory {
  text-align: right;
  color: #cccccc;
}

/* hovertip v2.0 - Start */
.hoverTip {
  display: inline-block;
  top: 4px;
  border-width: 0px;
  border-bottom: 2px dotted #666666; /* If you want dots under the hoverable text */
}
.hoverTipTxt {
  position: relative;
  vertical-align: text-bottom;
  line-height: initial;
}
.hoverTipTxt .hoverBox {
  position: absolute;
  visibility: hidden;
}
.hoverTipTxt:hover .hoverBox,
.hoverTipTxt:focus .hoverBox {
  visibility: visible;
}
.hoverBox {
  padding: 3px 10px;
  width: intrinsic; /* Safari/WebKit uses a non-standard name */
  width: -webkit-max-content; /* Chrome */
  width: -moz-max-content; /* Firefox/Gecko */
  width: max-content;
  max-width: 330px;
  line-height: initial;
  text-align: left;
  color: #666666;
  background-color: black;
  border: #7f7f7f solid 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  z-index: 100;
}
.hoverTail::after {
  content: "";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: #666666 transparent transparent transparent;
  z-index: 100;
}
.hoverBox a {
  -webkit-transition-duration: unset;
  -moz-transition-duration: unset;
  -o-transition-duration: unset;
  transition-duration: unset;
}
#ui-bar .hoverBox {
  max-width: 230px;
}
/* hovertip v2.0 - End */
